<a href="https://colab.research.google.com/github/sipocz/XLS_Conv/blob/main/xls_converter_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [94]:
import os

In [95]:
class XLS_timeseries:
    import pandas as pd
    import os
    def __init__(self,fname):

        self.readfile(fname)

    def readfile(self,fname):
        from pandas import ExcelFile
        self.tabs = ExcelFile(fname).sheet_names 
        self.fname=fname
    
    def __str__(self):
        return(f"file name:{self.fname}, sheets: {self.tabs}")


        
    
    def get_data1s(self,sheet_name):
        import pandas as pd
        fname=self.fname
        df=pd.read_excel(fname,sheet_name=sheet_name)
        df.columns=["Date","Value","Status"]
        bad_data=df[df["Status"]=="Bad Data"].index
        df.drop(index=bad_data,inplace=True)
        df.dropna(inplace=True)
        df.index=df.Date
        df.set_index("Date",inplace=True)
        df.drop(columns=["Status"], inplace=True)
        dfout=df.resample("1s").mean()
        dfout.interpolate('linear',inplace=True)
        self.df_base=dfout
        return(dfout)
    
    def df_list(self):
        fname=self.fname
        tabs=self.tabs
        self.out_df_list=[]
        for tabx in tabs:
            dftab=self.get_data1s(tabx)
            #dftab.plot()
            self.out_df_list.append(dftab)
        return self.out_df_list 
    
    def df_concat(self):
        from pandas import concat
        dflist=self.out_df_list
        df_heads=self.tabs
        for index,name in enumerate(df_heads):
            dflist[index].columns=[name]
        out_df=concat(dflist,axis=1)
    #out_df.head=df_heads
        out_df.dropna(inplace=True)
        self.DF=out_df
        return(out_df)

In [96]:
!rm *.xlsx*
urlname="https://github.com/sipocz/XLS_Conv/raw/main/U113_20210607.xlsx"
_,fname= os.path.split(urlname)
!wget $urlname

--2021-09-27 15:26:36--  https://github.com/sipocz/XLS_Conv/raw/main/U113_20210607.xlsx
Resolving github.com (github.com)... 13.114.40.48
Connecting to github.com (github.com)|13.114.40.48|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/sipocz/XLS_Conv/main/U113_20210607.xlsx [following]
--2021-09-27 15:26:37--  https://raw.githubusercontent.com/sipocz/XLS_Conv/main/U113_20210607.xlsx
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5661857 (5.4M) [application/octet-stream]
Saving to: ‘U113_20210607.xlsx’

U113_20210607.xlsx  100%[===================>]   5.40M  --.-KB/s    in 0.1s

2021-09-27 15:26:37 (39.1 MB/s) - ‘U113_20210607.xlsx’ saved [5661857/5661857]

In [97]:
a=XLS_timeseries(fname)

In [98]:
a.readfile(fname)

In [99]:
a.tabs

['AS_P113B',
 'AS_PH113',
 'AS_T113F',
 'AS_T1131',
 'AS_T1132',
 'AS_T1133',
 'AS_T1134',
 'AS_T1135']

In [100]:
a.get_data1s(a.tabs[0])

                        Value
Date
2021-06-07 00:00:21  0.113756
2021-06-07 00:00:22  0.114282
2021-06-07 00:00:23  0.114809
2021-06-07 00:00:24  0.115335
2021-06-07 00:00:25  0.115862
...                       ...
2021-06-11 23:59:38  0.085145
2021-06-11 23:59:39  0.085145
2021-06-11 23:59:40  0.085145
2021-06-11 23:59:41  0.085145
2021-06-11 23:59:42  0.085145

[431962 rows x 1 columns]

In [101]:
a.df_base.head()

                        Value
Date
2021-06-07 00:00:21  0.113756
2021-06-07 00:00:22  0.114282
2021-06-07 00:00:23  0.114809
2021-06-07 00:00:24  0.115335
2021-06-07 00:00:25  0.115862

In [102]:
print(a)

file name:U113_20210607.xlsx, sheets: ['AS_P113B', 'AS_PH113', 'AS_T113F', 'AS_T1131', 'AS_T1132', 'AS_T1133', 'AS_T1134', 'AS_T1135']

In [103]:
a.df_list()

[                        Value
 Date
 2021-06-07 00:00:21  0.113756
 2021-06-07 00:00:22  0.114282
 2021-06-07 00:00:23  0.114809
 2021-06-07 00:00:24  0.115335
 2021-06-07 00:00:25  0.115862
 ...                       ...
 2021-06-11 23:59:38  0.085145
 2021-06-11 23:59:39  0.085145
 2021-06-11 23:59:40  0.085145
 2021-06-11 23:59:41  0.085145
 2021-06-11 23:59:42  0.085145

 [431962 rows x 1 columns],                         Value
 Date
 2021-06-07 00:00:25  9.144274
 2021-06-07 00:00:26  9.144369
 2021-06-07 00:00:27  9.144464
 2021-06-07 00:00:28  9.144560
 2021-06-07 00:00:29  9.144655
 ...                       ...
 2021-06-11 23:59:38  9.643396
 2021-06-11 23:59:39  9.643778
 2021-06-11 23:59:40  9.644159
 2021-06-11 23:59:41  9.644541
 2021-06-11 23:59:42  9.644922

 [431958 rows x 1 columns],                          Value
 Date
 2021-06-07 00:00:25  33.756008
 2021-06-07 00:00:26  33.757915
 2021-06-07 00:00:27  33.759823
 2021-06-07 00:00:28  33.761730
 2021-06-07 00:00:29  33.763638
 ...                        ...
 2021-06-11 23:59:46  39.255360
 2021-06-11 23:59:47  39.255360
 2021-06-11 23:59:48  39.255360
 2021-06-11 23:59:49  39.255360
 2021-06-11 23:59:50  39.255360

 [431966 rows x 1 columns],                          Value
 Date
 2021-06-07 00:00:25  31.860840
 2021-06-07 00:00:26  31.870758
 2021-06-07 00:00:27  31.880676
 2021-06-07 00:00:28  31.890594
 2021-06-07 00:00:29  31.900513
 ...                        ...
 2021-06-11 23:59:38  36.182953
 2021-06-11 23:59:39  36.182953
 2021-06-11 23:59:40  36.182953
 2021-06-11 23:59:41  36.182953
 2021-06-11 23:59:42  36.182953

 [431958 rows x 1 columns],                          Value
 Date
 2021-06-07 00:00:31  32.082092
 2021-06-07 00:00:32  32.073318
 2021-06-07 00:00:33  32.064545
 2021-06-07 00:00:34  32.055771
 2021-06-07 00:00:35  32.046997
 ...                        ...
 2021-06-11 23:59:48  33.818573
 2021-06-11 23:59:49  33.809799
 2021-06-11 23:59:50  33.801025
 2021-06-11 23:59:51  33.792252
 2021-06-11 23:59:52  33.783478

 [431962 rows x 1 columns],                          Value
 Date
 2021-06-07 00:00:36  31.925690
 2021-06-07 00:00:37  31.925690
 2021-06-07 00:00:38  31.925690
 2021-06-07 00:00:39  31.925690
 2021-06-07 00:00:40  31.925690
 ...                        ...
 2021-06-11 23:59:46  25.543602
 2021-06-11 23:59:47  25.543602
 2021-06-11 23:59:48  25.543602
 2021-06-11 23:59:49  25.543602
 2021-06-11 23:59:50  25.543602

 [431955 rows x 1 columns],                          Value
 Date
 2021-06-07 00:00:25  31.436636
 2021-06-07 00:00:26  31.443655
 2021-06-07 00:00:27  31.450674
 2021-06-07 00:00:28  31.457694
 2021-06-07 00:00:29  31.464713
 ...                        ...
 2021-06-11 23:59:46  37.393761
 2021-06-11 23:59:47  37.393761
 2021-06-11 23:59:48  37.393761
 2021-06-11 23:59:49  37.393761
 2021-06-11 23:59:50  37.393761

 [431966 rows x 1 columns],                          Value
 Date
 2021-06-07 00:00:25  32.794689
 2021-06-07 00:00:26  32.794689
 2021-06-07 00:00:27  32.794689
 2021-06-07 00:00:28  32.794689
 2021-06-07 00:00:29  32.794689
 ...                        ...
 2021-06-11 23:59:48  39.114975
 2021-06-11 23:59:49  39.114975
 2021-06-11 23:59:50  39.114975
 2021-06-11 23:59:51  39.114975
 2021-06-11 23:59:52  39.114975

 [431968 rows x 1 columns]]

In [104]:
a.df_concat()

                     AS_P113B  AS_PH113  ...   AS_T1134   AS_T1135
Date                                     ...
2021-06-07 00:00:36  0.119020  9.145323  ...  31.499809  32.794689
2021-06-07 00:00:37  0.119020  9.145418  ...  31.492790  32.794689
2021-06-07 00:00:38  0.119020  9.145514  ...  31.485771  32.794689
2021-06-07 00:00:39  0.119020  9.145609  ...  31.478751  32.794689
2021-06-07 00:00:40  0.119020  9.145704  ...  31.471732  32.794689
...                       ...       ...  ...        ...        ...
2021-06-11 23:59:38  0.085145  9.643396  ...  37.393761  39.114975
2021-06-11 23:59:39  0.085145  9.643778  ...  37.393761  39.114975
2021-06-11 23:59:40  0.085145  9.644159  ...  37.393761  39.114975
2021-06-11 23:59:41  0.085145  9.644541  ...  37.393761  39.114975
2021-06-11 23:59:42  0.085145  9.644922  ...  37.393761  39.114975

[431947 rows x 8 columns]