<a href="https://colab.research.google.com/github/sipocz/XLS_Conv/blob/main/XLS_converter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import os

In [2]:
!rm *.xlsx*

In [3]:
urlname="https://github.com/sipocz/XLS_Conv/raw/main/U113_20210621.xlsx"
_,fname= os.path.split(urlname)

In [4]:
!wget $urlname

--2021-09-24 20:24:27--  https://github.com/sipocz/XLS_Conv/raw/main/U113_20210621.xlsx
Resolving github.com (github.com)... 140.82.113.4
Connecting to github.com (github.com)|140.82.113.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/sipocz/XLS_Conv/main/U113_20210621.xlsx [following]
--2021-09-24 20:24:27--  https://raw.githubusercontent.com/sipocz/XLS_Conv/main/U113_20210621.xlsx
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5550077 (5.3M) [application/octet-stream]
Saving to: ‘U113_20210621.xlsx’

U113_20210621.xlsx  100%[===================>]   5.29M  --.-KB/s    in 0.03s

2021-09-24 20:24:27 (166 MB/s) - ‘U113_20210621.xlsx’ saved [5550077/5550077]

In [5]:
df=pd.read_excel(fname,sheet_name=3)

In [6]:
df.columns=["Date","Value","Status"]

In [7]:
df.tail()

                      Date      Value Status
29168  2021-06-25 23:59:00  33.093002     OK
29169  2021-06-25 23:59:20  33.093002     OK
29170  2021-06-25 23:59:30  32.993820     OK
29171  2021-06-25 23:59:50  32.993820     OK
29172                 True        NaN    NaN

In [8]:
df.dropna(inplace=True)

In [9]:
df.Date[0]

datetime.datetime(2021, 6, 21, 0, 0, 22)

In [10]:
#pd.to_datetime(df.Date, format="%Y-%m-%d %H:%M:%S")

In [11]:
df.index=df.Date

In [12]:
df.describe()

              Value
count  29172.000000
mean      61.818723
std       24.257954
min      -50.000000
25%       69.741356
50%       70.767532
75%       72.743568
max      200.000000

In [13]:
df.Date.values[-1]

datetime.datetime(2021, 6, 25, 23, 59, 50)

In [14]:
new_range = pd.date_range(df.Date.values[0], df.Date.values[-2], freq='10S')

In [15]:
new_range

DatetimeIndex(['2021-06-21 00:00:22', '2021-06-21 00:00:32',
               '2021-06-21 00:00:42', '2021-06-21 00:00:52',
               '2021-06-21 00:01:02', '2021-06-21 00:01:12',
               '2021-06-21 00:01:22', '2021-06-21 00:01:32',
               '2021-06-21 00:01:42', '2021-06-21 00:01:52',
               ...
               '2021-06-25 23:57:52', '2021-06-25 23:58:02',
               '2021-06-25 23:58:12', '2021-06-25 23:58:22',
               '2021-06-25 23:58:32', '2021-06-25 23:58:42',
               '2021-06-25 23:58:52', '2021-06-25 23:59:02',
               '2021-06-25 23:59:12', '2021-06-25 23:59:22'],
              dtype='datetime64[ns]', length=43195, freq='10S')

In [16]:
type(df)

pandas.core.frame.DataFrame

In [17]:
df.set_index("Date",inplace=True)

In [18]:
df.head()

                     Value    Status
Date
2021-06-21 00:00:22  -50.0  Bad Data
2021-06-21 00:00:42  -50.0  Bad Data
2021-06-21 00:01:02  -50.0  Bad Data
2021-06-21 00:01:22  -50.0  Bad Data
2021-06-21 00:01:42  -50.0  Bad Data

In [19]:
df.head()

                     Value    Status
Date
2021-06-21 00:00:22  -50.0  Bad Data
2021-06-21 00:00:42  -50.0  Bad Data
2021-06-21 00:01:02  -50.0  Bad Data
2021-06-21 00:01:22  -50.0  Bad Data
2021-06-21 00:01:42  -50.0  Bad Data

In [20]:
bad_data=df[df["Status"]=="Bad Data"].index

In [21]:
bad_data

DatetimeIndex(['2021-06-21 00:00:22', '2021-06-21 00:00:42',
               '2021-06-21 00:01:02', '2021-06-21 00:01:22',
               '2021-06-21 00:01:42', '2021-06-21 00:02:02',
               '2021-06-21 00:02:22', '2021-06-21 00:02:42',
               '2021-06-21 00:03:02', '2021-06-21 00:03:22',
               ...
               '2021-06-21 05:22:02', '2021-06-21 05:22:22',
               '2021-06-21 05:22:42', '2021-06-21 05:23:02',
               '2021-06-21 05:23:22', '2021-06-21 05:23:42',
               '2021-06-21 05:24:02', '2021-06-21 05:24:22',
               '2021-06-21 05:24:42', '2021-06-21 05:25:02'],
              dtype='datetime64[ns]', name='Date', length=975, freq=None)

In [22]:
df

                         Value    Status
Date
2021-06-21 00:00:22 -50.000000  Bad Data
2021-06-21 00:00:42 -50.000000  Bad Data
2021-06-21 00:01:02 -50.000000  Bad Data
2021-06-21 00:01:22 -50.000000  Bad Data
2021-06-21 00:01:42 -50.000000  Bad Data
...                        ...       ...
2021-06-25 23:58:40  33.093002        OK
2021-06-25 23:59:00  33.093002        OK
2021-06-25 23:59:20  33.093002        OK
2021-06-25 23:59:30  32.993820        OK
2021-06-25 23:59:50  32.993820        OK

[29172 rows x 2 columns]

In [23]:
df.drop(index=bad_data,inplace=True)

In [24]:
type(df)

pandas.core.frame.DataFrame

In [25]:
df.head()

                          Value Status
Date
2021-06-21 05:25:10  200.000000     OK
2021-06-21 05:25:13   88.632034     OK
2021-06-21 05:25:23   28.484779     OK
2021-06-21 05:25:40   28.385597     OK
2021-06-21 05:25:50   28.484779     OK

In [26]:
df.drop(columns=["Status"], inplace=True)

In [27]:
#df.reindex(new_range).interpolate("Value")