<a href="https://colab.research.google.com/github/sipocz/XLS_Conv/blob/main/xls_converter_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import os

In [25]:
class XLS_timeseries:
    import pandas as pd
    import os
    def __init__(self,fname):

        from pandas import ExcelFile
        self.tabs = ExcelFile(fname).sheet_names 
        self.fname=fname
    
    def readfile():
        pass
    
    def get_data1s(self,sheet_name):
        import pandas as pd
        fname=self.fname
        df=pd.read_excel(fname,sheet_name=sheet_name)
        df.columns=["Date","Value","Status"]
        bad_data=df[df["Status"]=="Bad Data"].index
        df.drop(index=bad_data,inplace=True)
        df.dropna(inplace=True)
        df.index=df.Date
        df.set_index("Date",inplace=True)
        df.drop(columns=["Status"], inplace=True)
        dfout=df.resample("1s").mean()
        dfout.interpolate('linear',inplace=True)
        self.df_base=dfout
        return(dfout)

hello

In [11]:
!rm *.xlsx*
urlname="https://github.com/sipocz/XLS_Conv/raw/main/U113_20210621.xlsx"
_,fname= os.path.split(urlname)
!wget $urlname

rm: cannot remove '*.xlsx*': No such file or directory
--2021-09-26 22:50:57--  https://github.com/sipocz/XLS_Conv/raw/main/U113_20210621.xlsx
Resolving github.com (github.com)... 192.30.255.112
Connecting to github.com (github.com)|192.30.255.112|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/sipocz/XLS_Conv/main/U113_20210621.xlsx [following]
--2021-09-26 22:50:58--  https://raw.githubusercontent.com/sipocz/XLS_Conv/main/U113_20210621.xlsx
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.108.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5550077 (5.3M) [application/octet-stream]
Saving to: ‘U113_20210621.xlsx’

U113_20210621.xlsx  100%[===================>]   5.29M  --.-KB/s    in 0.1s

2021-09-26 22:51:00 (50.9 MB/s) - ‘U113_20210621.xlsx’ saved [5550077/5550077]

In [26]:
a=XLS_timeseries(fname)

In [19]:
a.tabs

['AS_P113B',
 'AS_PH113',
 'AS_T113F',
 'AS_T1131',
 'AS_T1132',
 'AS_T1133',
 'AS_T1134',
 'AS_T1135']

In [27]:
a.get_data1s(a.tabs[0])

                        Value
Date
2021-06-21 05:25:13  0.085145
2021-06-21 05:25:14  0.085145
2021-06-21 05:25:15  0.085145
2021-06-21 05:25:16  0.085145
2021-06-21 05:25:17  0.085145
...                       ...
2021-06-25 23:59:39  0.107805
2021-06-25 23:59:40  0.107805
2021-06-25 23:59:41  0.107805
2021-06-25 23:59:42  0.107805
2021-06-25 23:59:43  0.107805

[412471 rows x 1 columns]

In [28]:
a.df_base.head()

                        Value
Date
2021-06-21 05:25:13  0.085145
2021-06-21 05:25:14  0.085145
2021-06-21 05:25:15  0.085145
2021-06-21 05:25:16  0.085145
2021-06-21 05:25:17  0.085145